* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    
}
html{
    line-height: 1.15
}
body{
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
    outline: 0;
    color: #ffffff;
    
}
.navbar a{
    font-size: 16px;
    font-weight: 600;
}
header {
    overflow: hidden;
    height: auto;
    max-width: 100%;


}
.bg img{
    width: 220px;
    top: 12px;
}
    .box{
    
    border: 1px solid white;
    width: 530px;
    height: 41px;
    border-radius: 10px;
    background-color: transparent;
    top: 12px;
    margin: 0px 30px 0px 90px;
    text-align: center;
    }
    
.box i{
    font-size: 19px;
    color: #ffffff;
    padding-left: 2px;
    opacity: 0.9;
    
}
.box input{
    background-color: transparent;
    width: 490px;
    height: 40px;
    padding-left: 8px;
    border: none;
    flex: 1;
    font-size: 16px;
    outline: none;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
    opacity: 0.7;
}
.ic-urun-hizmet-icon svg{
    
    margin: 20px 0px 0px 0px;
    width:70px;
    height: 40px;
    
}
.container{
    position: absolute;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px 5px ;
   
}
.text{
    width: 150px;
    color: white;
    top: 10px;
    text-align: center;
}
.lang{
    border: 1px solid white;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-left: 4px;
}
.bell img{
    width: 32px;
    height: auto;
    fill: #ffffff;
    margin: 0px 5px 0px 10px;
    
}
.navbar,ul {
    display: flex;
    position: absolute;
    top: 29px;
    margin: 40px;
    text-decoration: none;
    list-style: none;
    
      
      
}
.navbar, li{
    font-size: 50px;
    display: flex;
    align-items: center;
    padding: 5px 0px 0px 28px;
}
button{
    color: white;
    border: none;
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
   
    border-radius: 8px;
    cursor: pointer;
    margin-left: 40px;
  
}
.intsubesi{
    
    background-image: linear-gradient(78deg,#ff7c48 -14%,#fdac00 97%);
}
.musteriol{
    width: 110px;
    margin-left: 16px;
    background-image: linear-gradient(to right,#3fb8f2 0,#73ddfa 100%);
}

/* .container2{
    overflow: hidden;
  
}
.slider-wrapper{
    position: relative;
   
    margin: 0 auto;
}
.slider{
    display: flex;
   

    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.slider img{
    width:1100;
    height: 600px;
    scroll-snap-align: start;
    object-fit: cover;
} */

.container2 {
    max-width: 11100px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider-wrapper {
    
    
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider a {
    flex: 0 0 100%;
  }
  
  .slider img {
    display: block;
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 600px;
  }

 